/* You can add global styles to this file, and also import other style files */
body {
  background-color: slategray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.list-group-item {
  margin: 3px;
}
